.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 34px;
  min-height: 0;
}

.head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 80px;
}

.note {
  max-width: 40ch;
  flex: none;
  width: 480px;
}

.devices {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  flex: none;
}
